header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  padding: 1em 0;
}

h1 {
  position: absolute;
  top: 0;
  left: 16px;
}

button.add {
  font-size: 2.5em;
  padding: 0 13px;
  border-radius: 5px;
  cursor: pointer;
  background: #000;
  color: #fff;
  outline: none;
  border: 2px solid;
  border-color: transparent;
}

button.add:hover {
  background-color: transparent;
  border: 2px solid black;
  color: #000;
}

.plateau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  align-self: auto;
  display: flex;
  flex-direction: row;
}

.square {
  width: 720px;
  height: 720px;
  background-color: transparent;
  backdrop-filter: blur(15px);
  position: relative;
  border: 1px solid rgb(255, 222, 173);
  border-radius: 15px;
}

.rover {
  position: absolute;
  transition: all 0.5s;
  width: 120px;
  height: 120px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.rover.E {
  transform: rotate(90deg);
}
.rover.S {
  transform: rotate(180deg);
}
.rover.W {
  transform: rotate(270deg);
}
