header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  padding: 1em 0;
}

h1 {
  position: absolute;
  top: 0;
  left: 16px;
}

button.add {
  font-size: 2.5em;
  padding: 0 13px;
  border-radius: 5px;
  cursor: pointer;
  background: #000;
  color: #fff;
  outline: none;
  border: 2px solid;
  border-color: transparent;
}

button.add:hover {
  background-color: transparent;
  border: 2px solid black;
  color: #000;
}

.plateau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  align-self: auto;
  display: flex;
  flex-direction: row;
}

.square {
  align-items: center;
  border-collapse: collapse;
  padding: 10px;
  width: 70px;
  height: 70px;
  display: table-cell;
  border: 1px solid white;
}

.square:hover {
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
}

.square {
  transition: all 0.25s;
  cursor: pointer;
  background-color: black;
}
