body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-image: url("/public/mars.jpg");
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
